<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!--    填写 自定义 mybatis 拦截器文件地址    -->
        <plugin interceptor="com.example.interceptor.MySqlInterceptor" />
    </plugins>
</configuration>